<form class="community-create-step-content-area js-community-create-main-view-form">
  <h1 class="primary-community-heading h1">
    Think big,<br>
    start small, grow fast
  </h1>

  <input
    class="primary-community-name-input"
    placeholder="your community name"
    pattern=".+"
    maxlength="80"
    required />

  <div class="community-creation-slug-input-wrapper">
    <span class="community-creation-slug-input-prefix">gitter.im/</span>
    <input
      class="community-creation-slug-input"
      placeholder="your-community-uri"
      pattern="[a-zA-Z0-9\-_]+"
      maxlength="80"
      required />
  </div>

  <section class="community-create-associated-project-section">
    {{#if hasGitHubProvider}}
      <p class="community-create-associated-project-copy active js-community-create-add-associated-project-copy">
        do you want to start a community for one of your
        <a href="#0" class="community-create-general-link js-community-create-from-github-project-link">
          GitHub projects?
        </a>
      </p>
      <div class="community-create-has-associated-project-copy js-community-create-has-associated-project-copy">
        Associated with
        <div class="community-create-associated-project-main-area">
          <a href="#0" class="community-create-general-link js-community-create-associated-project-link" target="_blank" data-disable-routing="1" >
            <i class="icon-github-circled"></i>
            <span class="js-community-create-associated-project-name"></span>
          </a>
          <p class="community-create-associated-project-badger-option js-community-create-associated-project-badger-option">
            <input
              type="checkbox"
              id="community-create-associated-project-badger-option-input"
              class="community-create-associated-project-badger-option-input js-community-create-associated-project-badger-option-input"
              checked>
            <label for="community-create-associated-project-badger-option-input">
              Add badge to README on GitHub (via pull request)
            </label>
          </p>
        </div>
        <a href="#0" class="community-create-change-github-project-button secondary-button-caribbean js-community-create-from-github-project-link">
          change
        </a>
      </div>

    {{/if}}
  </section>


  <section class="community-create-progression-button-wrapper">
    <div></div>

    <button type="submit" class="community-create-next-button button-caribbean js-community-create-step-next">
      Next
    </button>
  </section>

</form>
